.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5rem;
}

.description {
    box-sizing: border-box;
    height: 10vh;
    overflow-y: auto;
}

.first-brewed {
    padding-top: 1rem;
}

.button {
    margin-top: 1rem;
}

.image {
    height: 40vh;
}